.meal-list {
    margin: $m-size 0 $m-size 0;
}

    .meal-list__header {
        align-items: center;
        background-color: $blue;
        color: white;
        display: flex;
        justify-content: space-between;
        padding: $xs-size;
    }

        .meal-list__title {
            display: inline-block;
            margin: 0;
        }

        .meal-list-item__calories-label {
            display: inline-block;
            font-weight: 500;
            font-size: $font-size-m;
            padding-right: $xs-size;
        }

    .meal-list-item__container {
        border: 1px solid $blue;    
        border-top: none;
        padding: $s-size;
    }

        .meal-list-item__header {
            align-items: center;
            display: flex;
            justify-content: space-between;
        }


        .meal-list-item__calories {
            font-weight: 700;
            padding-right: $xs-size;
        }

        .meal-list-item__macros span { 
            margin-right: $s-size;
        }

        .meal-list-item__name {
            font-size: $font-size-l;
            font-weight: 700;
        }



