* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Helvetics, Arial, sans-serif;
    font-size: $m-size;
    color: $dark-grey;
    line-height: 1.6;
}


.btn {
    cursor: pointer;
}

.btn:disabled {
    cursor: initial;
}

